# =========================
# Generated data & outputs
# =========================
results/
*.html
*.zip

# =========================
# Raw sequencing data
# =========================
*.fastq
*.fq
*.bam
*.sam
*.vcf

# =========================
# Python cache
# =========================
__pycache__/
*.pyc

# =========================
# System files
# =========================
.DS_Store

